doctype html 
html 
    head 
        title iCodder - Programming Website  
        style 
            include ../static/style.css
           

    body 
        nav.navbar 
            ul.nav-list 
                div.logo
                    img(src="../static/img/Arka.jpg", alt="logo")
                li 
                    a(href="/") Home 
                li 
                    a(href="/") Tutorials 
                li
                    a(href="/") About 
                li
                    a(href="/") Services
                li
                    a(href="/") Contact Us 


        section.introSection 
            div Welcome to iCodder programming academy
            div.sleep  Inquire Innovate Inspire 

        section.missionSection 
            h1 Our Mission
            div.container
                div#card1.card 
                    h2 Learn Programming
                    p Learn various kinds of programming languages , like java , python , JavaScript etc
                div#card2.card 
                    h2 Website Designing
                    p Learn web development , and design awesome websites using html , css and javaScript.
                div#card3.card 
                    h2  Codding Blog 
                    p Get various news on technology , programming , trends etc.
           
            
        section.sponsorsSection
            h1 Our Tutorials 
            div.sponsors
                img(src="../static/img/logo1.png", alt="logo1" class="logo1")
                img(src="../static/img/logo2.png", alt="logo2" class="logo2")
                img(src="../static/img/logo3.png", alt="logo3" class="logo3")
                img(src="../static/img/logo4.png", alt="logo4" class="logo4")

                
        footer.footer
            | Copyright &#169; 2021 iCodder.com | All rights reserved 

        script 
            include ../static/index.js